<h1><%= @user.name %></h1>
<p><%= @user.email %></p>
<h3>Events I Created</h3>
<ul>
  <% @user.created_events.each do |event| %>
    <li><strong><%= link_to event.title, event %></strong></li>
    <li>Location: <%= event.location %></li>
    <li>When: <%= event.date %></li>
    <br />
  <% end %>
</ul>

<h3>Upcoming Events I'm Attending</h3>
<ul>
  <% @user.upcoming_events.each do |e| %>
    <li><%= link_to e.title, e %></li>
    <li>Created by: <%= link_to e.creator.name, e.creator %></li>
    <br />
  <% end %>
</ul>

<h3>Previous Events I Attended</h3>
<ul>
  <% @user.previous_events.each do |e| %>
    <li><%= link_to e.title, e %></li>
    <li>Created by: <%= link_to e.creator.name, e.creator %></li>
    <br />
  <% end %>
</ul>
